@font-face {
    font-family: "RobotoRegular";
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: "RobotoThin";
    src: url('../fonts/Roboto-Thin.ttf');
}

#campeonatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
    height: 90%;
}

#campeonatos h1 {
    font-family: "RobotoRegular";
    color: var(--secondary-color);
    margin-bottom: 0px;
}

#campeonatos p {
    font-family: "RobotoThin";
    color: var(--secondary-color);
    width: 80%;
    text-align: center;
}

#campeonatos button {
    background-color: var(--primary-color);
    border-radius: 5px;
    color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}