@font-face {
    font-family: "RobotoRegular";
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: "RobotoThin";
    src: url('../fonts/Roboto-Thin.ttf');
}

#ingressos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 90%;
}

#ingressos h1 {
    font-family: "RobotoRegular";
    color: var(--secondary-color);
    margin-bottom: 0px;
}

#ingressos p {
    font-family: "RobotoThin";
    color: var(--secondary-color);
    width: 60%;
    text-align: center;
}

#ingressos span {
    font-family: "RobotoRegular";
    color: var(--secondary-color);
    margin-top: 20px;
    margin-bottom: 10px;
}

#ingressos select {
    background-color: var(--primary-color);
    border-radius: 5px;
    color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#ingressos button {
    background-color: var(--primary-color);
    border-radius: 5px;
    color: var(--secondary-color);
    display: inline-block;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

#ingressos-lista ul {
    list-style: none;
    padding: 0;
}

#novo-ingresso-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    display: none;
}

#novo-ingresso-input input {
    display: block;
    width: 280px;
    margin-bottom: 10px;
    text-align: center;
}

#novo-ingresso-input button {
    display: inline-block;
    width: auto;
    margin-right: 10px;
}